<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Books</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">

            <div class="row">
                <div class="col-sm-12">
                    <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                        <thead>
                            <tr role="row">
                                <th class="sorting">Cover</th>
                                <th class="sorting"><a href="" ng-click="sortField='isbn10'; sortReverse = !sortReverse" style="color:black;" > ISBN <span ng-show="sortField=='isbn10'" class="fa" ng-class="sortReverse ? 'fa-caret-up' : 'fa-caret-down'"></span> </a></th>
                                <th class="sorting"><a href="" ng-click="sortField='title'; sortReverse = !sortReverse"style="color:black;"> Title <span ng-show="sortField=='title'" class="fa" ng-class="sortReverse ? 'fa-caret-up' : 'fa-caret-down'"></span> </a></th>
                                <th class="sorting"><a href="" ng-click="sortField='category'; sortReverse = !sortReverse" style="color:black;"> Category <span ng-show="sortField=='category'" class="fa" ng-class="sortReverse ? 'fa-caret-up' : 'fa-caret-down'"></span> </a></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="b in books |orderBy:sortField:sortReverse" class="media">
                                <td><img ng-src="images/tinysquare/{{b.isbn10}}.jpg"></td>
                                <td>{{b.isbn10}}</td>
                                <td>{{b.title}}</td>
                                <td>{{b.category}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.box-body -->
</div>