<header class="main-header">
    <nav class="navbar navbar-static-top">

        <div class="navbar-header">
            <a href="#/home" class="navbar-brand"><b>Assignment</b>2</a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                <i class="fa fa-bars"></i>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
            <ul class="nav navbar-nav">

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Menu <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#/home">Home</a></li>
                        <li><a href="#/dashboard">Dashboard</a></li>
                        <li><a href="#/about">About</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
        <!-- Navbar Right Menu -->
       
        <!-- /.navbar-custom-menu -->

        <!-- /.container-fluid -->
    </nav>
</header>

<div class="content-wrapper">
    <section class="content-header">
        <h1> 
        About
        
      </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">About</li>
        </ol>
    </section>
    <section class="content">
        <!-- Main row -->
        <div class="row">
           
           <div>
            <div class="col-md-4 col-md-offset-4">
              <h3>Group Members</h3>
                  <ul>
                      <li>Jad Dizon</li>
                      <li>Jan Genese</li>
                      <li>Jed Ong</li>
                      <li>Daniel Truong</li>
                  </ul>
              <h3>Code Repository URL: </h3>
              <ul>
                  <li> </li>
                  </ul>
              <h3>Sources</h3>
                  <ul>
                    <li>Dashboard Template: <a href="http://almsaeedstudio.com" target="_blank">almsaeedstudio.com</a></li>
                    <li>Mongoose ODM: <a href="http://mongoosejs.com/docs/2.7.x/docs/embedded-documents.html" target="_blank">mongoosejs.com</a></li>
                    <li>Mean Stack Tutorial: <a href= "https://www.airpair.com/javascript/complete-expressjs-nodejs-mongodb-crud-skeleton" target="_blank">airpair.com</a></li>
                    <li>Scotch| Node and JSON Tutorial: <a href="https://scotch.io/tutorials/authenticate-a-node-js-api-with-json-web-tokens" target="_blank">scotch.io</a></li>
                    <li>Node.JS Restful Api: <a href="http://www.tutorialspoint.com/nodejs/nodejs_restful_api.htm" target="_blank">tutorialspoint.com</a></li>
                    <li>Authenticating Node.js Tutorial: <a href="http://code.tutsplus.com/tutorials/authenticating-nodejs-applications-with-passport--cms-21619" target="_blank">code.tutsplus.com</a></li>
                    <li>Authentication Passport & Express 4: <a href="http://mherman.org/blog/2015/01/31/local-authentication-with-passport-and-express-4/#.VxALMKgrKUm" target="_blank">mherman.org</a></li>
                    <li>Node Authentication: Setup and Local: <a href="https://scotch.io/tutorials/easy-node-authentication-setup-and-local" target="_blank">scotch.io</a></li>
                    <li>Mean Authentication Tutorial: <a href="https://matoski.com/article/jwt-express-node-mongoose/#preparation" target="_blank">matoski.com</a></li>
                    <li>Managing Sessions Node.js: <a href="https://codeforgeek.com/2014/09/manage-session-using-node-js-express-4/" target="_blank">codeforgeek.com</a></li>
                    <li>Cookie Management: <a href="https://www.codementor.io/nodejs/tutorial/cookie-management-in-express-js" target="_blank">codementor.com</a></li>
                    <li>Angular Routing: <a href="https://github.com/angular-ui/ui-router" target="_blank">github.com/angular-ui/ui-router</a></li>
                    <li>SPA Authentication: <a href="http://brewhouse.io/blog/2014/12/09/authentication-made-simple-in-single-page-angularjs-applications.html" target="_blank">brewhouse.io/blog</a></li>
                    <li>Angular Routing Tutorial: <a href="https://scotch.io/tutorials/angular-routing-using-ui-router" target="_blank">scotch.io</a></li>
                    <li>Admin LTE: <a href="https://almsaeedstudio.com/preview" target="_blank">Almsaeed</a></li>
                  </ul>
            </div>
        </div>
           
           
           
           
           
           
        </div>
    </section>
    
</div>

















